a {
  /*text-transform: uppercase;*/
  text-decoration: none;
}

body {
  /*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
  font-family: "Poppins", sans-serif;
  background: url(../assets/fundo2.png);
  padding: 15px;
}

.rodape {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(92, 92, 94);
  color: white;
  text-align: center;
  height: 50px;
}
